{% extends 'base.html' %}
{% block content %}
{%load static%}



<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/"><img src="{%static 'images/logo.png'%}" class="mr-2"
                    alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="/"><img src="{%static 'images/logo-mini.png'%}"
                    alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                        aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                        aria-controls="chats-section">CHATS</a>
                </li>
            </ul>
            <div class="tab-content" id="setting-content"> </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link active" href="../recep/attend" aria-expanded="false">
                        <i class="ti-calendar menu-icon"></i>
                        <span class="menu-title">Attendance</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="ti-power-off menu-icon"></i>
                        <span class="menu-title">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->







        <div class="main-panel">
            <div class="content-wrapper">












                <div class="col-6 grid-margin">
                    <div class="card ">
                        <div class="card-body">
                            <p class="card-title">Attendance </p>

                            <form class="form-sample" method="post" action="/recep/attend/">
                                {% csrf_token %}
                                <p class="card-description">
                                    Employee Attendance Entry
                                </p>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="exampleInputUsername1">Email</label>
                                        <input type="email" class="form-control" name="mail" placeholder='abc@orark.com' list="suggestions" required>
                                        <datalist id="suggestions">
                                            {%for y in stu%}
                                                <option value="{{y}}">
                                            {%endfor%}
                                        </datalist>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="exampleInputUsername1">Date</label>
                                        <input type="date" class="form-control" name="tdate" value={{date}} required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputUsername1">Entry Time</label>
                                        <input type="time" class="form-control" name="entme" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleInputUsername1">Exit Time</label>
                                        <input type="time" class="form-control" name="extme" required>
                                    </div>
                                </div>
                                <input type="submit" value="Mark Attendance" class="btn btn-success btn-lg btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>




            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="{%static 'js/bulma-calendar.js'%}"></script>
<script src="{%static 'js/bulma-calendar.min.js'%}"></script>
<script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
<script src="{%static 'vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
<script src="{%static 'vendors/select2/select2.min.js'%}"></script>
<script src="{%static 'js/off-canvas.js'%}"></script>
<script src="{%static 'js/hoverable-collapse.js'%}"></script>
<script src="{%static 'js/template.js'%}"></script>
<script src="{%static 'js/settings.js'%}"></script>
<script src="{%static 'js/todolist.js'%}"></script>
<script src="{%static 'js/file-upload.js'%}"></script>
<script src="{%static 'js/typeahead.js'%}"></script>
<script src="{%static 'js/select2.js'%}"></script>


{% endblock %}