{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
  <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" />
  <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/select2/select2.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bulma-calendar.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/bulma-calendar.css'%}">
  <link rel="stylesheet" href="{%static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
  <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" />
</head>

<body>
    {% block content %}
    {% endblock %}               
</body>

</html>
