{% extends 'base.html' %}
{% block content %}
{%load static%}



<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/"><img src="{%static 'images/logo.png'%}" class="mr-2"
                    alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="/"><img src="{%static 'images/logo-mini.png'%}"
                    alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->

        <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                        aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                        aria-controls="chats-section">CHATS</a>
                </li>
            </ul>
            <div class="tab-content" id="setting-content"> </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/hod/profile" aria-expanded="false">
                        <i class="ti-user menu-icon"></i>
                        <span class="menu-title">Profile</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/hod/deptempinfo" aria-expanded="false">
                        <i class="ti-info menu-icon"></i>
                        <span class="menu-title">Department Info</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/leave/hod" aria-expanded="false">
                        <i class="ti-agenda menu-icon"></i>
                        <span class="menu-title">Leave Requests</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="ti-power-off menu-icon"></i>
                        <span class="menu-title">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->







        <div class="main-panel">
            <div class="content-wrapper">


            <div class="row">
                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card tale-bg">
                        <div class="card-people mt-auto" style="padding-top:0px">
                            <img src="{{request.user.images.url}}" alt="people">
                        </div>
                    </div>
                </div>

                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                    <div class="row">
                        <div class="col-md-8 card-body">
                            
                                <p class="fs-30 mb-2" style="padding-top:20px;padding-left:20px">{{request.user.first_name}} {{request.user.last_name}} </p>
                                <p class="mb-2 text-primary" style="padding-left:20px">Head of Department : {{empp.deptname}}</p>
                                <a href="mailto:{{request.user.email}}"><p style="padding-top:20px;padding-left:20px" class="mb-2 text-secondary" style="padding-top:20px;padding-left:20px"><i class="ti-email"></i>  {{request.user.email}}</p></a>
                            
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-inverse-info btn-block"data-bs-toggle="tooltip" data-placement="bottom" title="Department ID : {{empp.dep_id}}">#{{empp.dep_id}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 card" style="margin-left: 22px;">
                           <div class="card card-tale" style="padding-top: 15px;padding-bottom: 15px;">
                                <p class="mb-4 align-self-center">Employees in {{empp.deptname}}</p>
                                <p class="fs-30 align-self-center">{{cnt|length}}</p>
                            </div>     
                        </div>


                        <div class="col-md-5 card align-right" style="margin-left: 5px;">
                           <div class="card card-dark-blue" style="padding-top: 15px;padding-bottom: 15px;">
                                <p class="mb-4 align-self-center">Pending leave requests</p>
                                <p class="fs-30 align-self-center">{{pnd}}</p>
                            </div> 
                        </div>
                        

                    </div>
                    </div>
                </div>
            </div>








            </div>

            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="{%static 'js/bulma-calendar.js'%}"></script>
<script src="{%static 'js/bulma-calendar.min.js'%}"></script>
<script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
<script src="{%static 'vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
<script src="{%static 'vendors/select2/select2.min.js'%}"></script>
<script src="{%static 'js/off-canvas.js'%}"></script>
<script src="{%static 'js/hoverable-collapse.js'%}"></script>
<script src="{%static 'js/template.js'%}"></script>
<script src="{%static 'js/settings.js'%}"></script>
<script src="{%static 'js/todolist.js'%}"></script>
<script src="{%static 'js/file-upload.js'%}"></script>
<script src="{%static 'js/typeahead.js'%}"></script>
<script src="{%static 'js/select2.js'%}"></script>
<script>
  $('[data-bs-toggle="tooltip"]').tooltip();
</script>


{% endblock %}