<html>

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid black;
        }

        table td {
            line-height: 25px;
            padding-left: 15px;
        }

        table th {
            background-color: #60b3f7;
            color: #363636;
        }
    </style>

</head>

<body >
    <table border="1">
        <tr height="90px"
            style="background-color:#363636;color:#F5F7FF;text-align:center;font-size:29px; font-weight:10;">
            <td colspan='4'>ORARK - Payroll Solutions</td>
        </tr>
        <tr height="12px" style="background-color:#F5F7FF;color:#0c0b0b;text-align:center;font-size:15px; font-weight:500;">
            <td colspan='4'>Payslip for the month -2020</td>
        </tr>
       
        <tr>
            <th>Slip Id:</th>
            <td>0123456</td>
            <th>Name</th>
            <td>Chandra</td>
        </tr>
        <!-----2 row--->
        <tr>
            <th>Bank</th>
            <td>x0x0x0</td>
            <th>Bank A/c No.</th>
            <td>0x2x6x25x6</td>
        </tr>
        <!------3 row---->
        <tr>
            <th>Emp No.</th>
            <td>23/02/xxxx</td>
            <th>Absent Days</th>
            <td>0</td>
        </tr>
        <!------4 row---->
        <tr>
            <th>PF No.</th>
            <td>26123456</td>
            <th>Pay days</th>
            <td>30</td>
        </tr>
        <!------5 row---->
        <tr>
            <th>Pan No.</th>
            <td>India</td>
            <th>Working Days</th>
            <td>30</td>
        </tr>
        <!------6 row---->
        <tr>
            <th>Department</th>
            <td>IT</td>
            <th>Designation</th>
            <td>Designer</td>
        </tr>
    </table>
    <tr></tr>
    <br />
    <table border="1">
        <tr>
            <th>Earnings</th>
            <th>Amount</th>
            <th>Deductions</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Basic</td>
            <td>29000</td>
            <td>provident fund</td>
            <td>1900</td>
        </tr>
        <tr>
            <td>Dearness Allowance</td>
            <td>2000</td>
            <td>professional tax</td>
            <td>600</td>
        </tr>
        <tr>
            <td>Medical Allowance</td>
            <td>400</td>
            <td>Income tax</td>
            <td>500</td>
        </tr>
        <tr>
            <td>Travel Allowance</td>
            <td>3000</td>
            <td>ESIC</td>
            <td>xxx</td>
        </tr>
        <tr>
            <td>House Rent Allowance</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>Children Education Allowance</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>Overtime pay ( overtime hours: )</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>bonus</td>
            <td>500</td>
        </tr>
        <tr>
            <th>Gross Earnings</th>
            <td>Rs.38500</td>
            <th>Gross Deductions</th>
            <td>Rs.3000</td>
        </tr>
        <tr>
            <td></td>
            <td><strong>NET PAY</strong></td>
            <td>Rs.35500</td>
            <td></td>
        </tr>
    </table>
</body>

</html>