{%load static%}

{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
    <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" />
    <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/select2/select2.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/bulma-calendar.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/bulma-calendar.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
    <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" />
    <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
    <link rel="shortcut icon" href="{%static 'images/favicon.png'%}" />
    <link rel="stylesheet" href="{%static 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" />
    <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js" > </script> 
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid black;
        }

        table td {
            line-height: 25px;
            padding-left: 15px;
            
        }
       
        table th {
            background-color: #d1e7fa;
            color: #363636;
             padding-left: 15px;
            
        }
        div {
           
            padding: 80px 140px 160px 140px;
            box-sizing: border-box;
        }
    </style>

    <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js" > </script> 
    <script type="text/javascript">

    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

    </script>



</head>

<body>



    <script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="{%static 'vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net/jquery.dataTables.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
    <script src="{%static 'js/dataTables.select.min.js'%}"></script>
    <script src="{%static 'js/off-canvas.js'%}"></script>
    <script src="{%static 'js/hoverable-collapse.js'%}"></script>
    <script src="{%static 'js/template.js'%}"></script>
    <script src="{%static 'js/settings.js'%}"></script>
    <script src="{%static 'js/todolist.js'%}"></script>
    <script src="{%static 'js/dashboard.js'%}"></script>
    <script src="{%static 'js/Chart.roundedBarCharts.js'%}"></script>
    <script src="{%static 'js/tooltips.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'js/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>


<button type="button" class="btn btn-outline-primary btn-rounded btn-icon" onclick="printDiv('printableArea')" style="margin-top:20px;margin-left:20px;"><i class="ti-printer"></i></button>
<div id="printableArea" style="padding-top:20px;padding-bottom:0px">
    <table border="1">
        <tr height="75px" style="background-color: #363636 ; color:#F5F7FF ; text-align:center ; font-size:34px ; font-weight:10;">
            <td colspan='4'>ORARK - Payroll Solutions</td>
        </tr>
        <tr height="12px" style="background-color:#F5F7FF;color:#585757f5;text-align:center;font-size:15px; font-weight:500;">
            <td colspan='4'>Payslip for {{ moth }} - {{p.year}}</td>
        </tr>
       
        <tr>
            <th>Slip Id:</th>
            <td>{{ p.slip_id }}</td>
            <th>Name</th>
            <td>{{ request.user.first_name }} {{ request.user.last_name}}</td>
        </tr>
        <!-----2 row--->
        <tr>
            <th>Bank</th>
            <td>{{ k.bank }}</td>
            <th>Bank A/c No.</th>
            <td>{{ k.bankaccnum }}</td>
        </tr>
        <!------3 row---->
        <tr>
            <th>Emp No.</th>
            <td> {{ k.emp_id }}</td>
            <th>Absent Days</th>
            <td>{{ p.absentdays }}</td>
        </tr>
        <!------4 row---->
        <tr>
            <th>PF No.</th>
            <td>{{ k.pfnum }}</td>
            <th>Pay Days</th>
            <td>{{ p.paydays}}</td>
        </tr>
        <!------5 row---->
        <tr>
            <th>Pan No.</th>
            <td>{{ k.pannum }}</td>
            <th>Working Days</th>
            <td>{{ p.workingdays}}</td>
        </tr>
        <!------6 row---->
        <tr>
            <th>Department</th>
            <td>{{ k.dep }}</td>
            <th>Designation</th>
            <td>{{ k.desg }}</td>
        </tr>
    </table>
    <tr></tr>
    <br />
    <table border="1">
        <tr>
            <th>Earnings</th>
            <th style="text-align: right; padding-right:20px;">Amount</th>
            <th>Deductions</th>
            <th style="text-align: right; padding-right:20px;">Amount</th>
        </tr>
        <tr>
            <td>Basic</td>
            <td style="text-align: right; padding-right:20px;">{{ p.basic|floatformat:2 }}</td>
            <td>Provident Fund</td>
            <td style="text-align: right; padding-right:20px;">{{ p.pf|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Dearness Allowance</td>
            <td style="text-align: right; padding-right:20px;">{{ p.da|floatformat:2}}</td>
            <td>Professional tax</td>
            <td style="text-align: right; padding-right:20px;">{{ p.ptax|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Medical Allowance</td>
            <td style="text-align: right; padding-right:20px;">{{ p.ma|floatformat:2}}</td>
            <td>Income Tax</td>
            <td style="text-align: right; padding-right:20px;">{{ p.itax|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Travel Allowance</td>
            <td style="text-align: right; padding-right:20px;">{{ p.ta|floatformat:2}}</td>
            <td>ESIC</td>
            <td style="text-align: right; padding-right:20px;">{{ p.esic|floatformat:2}}</td>
        </tr>
        <tr>
            <td>House Rent Allowance</td>
            <td style="text-align: right; padding-right:20px;">{{p.hra|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Children Education Allowance</td>
            <td style="text-align: right; padding-right:20px;">{{p.cea|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Overtime Pay ( Overtime Hours : {{p.othr}} )</td>
            <td style="text-align: right; padding-right:20px;">{{ p.otpay|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Bonus</td>
            <td style="text-align: right; padding-right:20px;"> {{ p.bonus|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Gross Earnings</th>
            <td style="text-align: right; padding-right:20px;">₹ {{ p.gearn|floatformat:2 }}</td> </td>
            <th>Gross Deductions</th>
            <td style="text-align: right; padding-right:20px;">₹ {{ p.gded|floatformat:2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center; padding-right:20px; font-weight:800px;"><strong>NET PAY</strong></td>
            <td style="text-align: center; padding-right:20px; font-weight:800px; background-color: #c7f7d6;"> ₹    {{p.total|floatformat:2}}</td>
            <td></td>
        </tr>
    </table>
</div>





</body>
</html>